#board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0; /* Remove the gap between cells */
  margin-top: 10px;
  justify-items: center;
}

.cell {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  cursor: pointer;
}

.result {
  font-size: 34px;
  text-align: center;
  margin-top: 50px; /* Adjust the value to change the distance from the board */
}